body{
	background-color: darksalmon;

}
.fill{
	background-position: center;
	background-size: cover;
	height:100%;
	width: 100%;
	cursor: pointer;
	background-image: url('bruno.jpg');
}
.empty{
	height:150px;
	width: 150px;
	border: 2px solid black;
	background-color:white;
	display: inline-block;
	margin: 20px;
}
