#pinpong-body{
position: relative;
}
#pingpongBall{
 width: 20px;
  height: 20px;
    background-color: red;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}
#player1,#player2{
height:20px;
width:200px;
position:fixed;
left:50%;
border-radius:25px;
text-align: center;

text-align: center;
color: white;
font-weight: bold;
}

#player1 {
    background-color: blue;
    top: 0px;    
}

#player2 {
    background-color: blueviolet;
    bottom: 0px;
}