body{
	margin: 0px;
    cursor: pointer;
}
body::-webkit-scrollbar { 
    display: none; 
}
/*body header*/
#resume-heading{
height: 65vh;
background-image: url(IMAGE/macbook_mouse.jpg);
background-size:cover;
opacity:0.8;
background-position: center;
background-attachment: fixed;
padding-top:1.2rem;
}
/*list header*/
.bars{
    color: white;
    margin: 0;
    margin-right: 5%;
    display: none;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}
.no-list-style{
	list-style: none;

}
.no-list-style li{
	  font-weight: 100;
    font-size:1.2rem;
}

.no-list-style li a{
	text-decoration: none;
	color: white;
}
.horizontal-list li {
    display: inline-block;
    margin: 20px;
    text-align:center;
}
.text-center{
	text-align: center;
}
.nav-menu li a:hover {
    transition: color 0.5s, border-bottom 4s;
    color: lightgrey;
    border-bottom: 1px solid black;
}
#name-social-container{
/* border: 2px solid black; */
margin-top:20vh;
}
#my-name{
	color:white;
	font-size:3.5rem;
	font-weight:900;
	letter-spacing:0.3rem;
	border-bottom:10px;
}
.social-icons {
position: relative;
bottom:50px;
right:8px;
}

.social-icons li a i {
	padding:5px;
	font-size:1.5rem;
	border-radius:50%;
	border-color:black;
}
.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px red;
}
section{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

}
section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}
.section-heading{
	font-weight:400;
	color:#2857a4;
	margin-top:40px;


}
.section-heading span{
	font-weight: bold;
	font-size:2.5rem;
	margin-right:4px;
}

/* about Section */
#about{
	height:auto;
	width:100%;
	/* margin:2px solid black; */
	position: relative;
	border-bottom:20px;
}
#my-image{
	height:12rem;
	width:12rem;
	position: relative;
	bottom:120px;
}
#my-image img{
	height:100%;
	width:100%;
	border-radius: 50%;
	border:3px solid white;
	box-shadow:1px 1px 10px 2px lightgrey;
}
#about-para{
	font-size:1.2rem;
	width:70%;
	color:grey;
	text-align:justify;
	/* margin-bottom:50px; */
	padding:10px;
	position:relative;
	bottom:15vh;

}
.text-highlight {
    color: #2857a4;
    font-weight: 600;

}
/* skills section */
#skills{
	height:auto;
	width:100%;
	position:relative;
	bottom:15vh;
	/* border: 2px solid black; */
	padding-bottom: 100px;
}
.skills-display{
	width:75%;
	/* border:2px solid black; */
	display:flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	position:relative;
	top:60px;
}
.skill-progress{
	height:2rem;
	width:11rem;
	background-color:grey;
	border-radius:1rem;
	overflow: hidden;
	margin:25px;
}

/* .skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
 */
.skill-name span {
    color: white;
    font-size: 1rem;
   	margin-left:8px;
   	vertical-align:middle;
}
.fifty-percent {
    height: inherit;
    width:65%;

}

.eighty-percent {
    height: inherit;
    width: 80%;
}
.seventy-percent{
	height:inherit;
	width:60%;

}
.sixtyfive-percent{
	height: inherit;
	width: 65%;
}
.eighty-percent{
	height: inherit;
	width:80%;
}
.seventyfive-percent{
	height: inherit;
	width: 75%;
}
.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}
/* experience */
#experience{
	height:auto;
	/* background-color:grey; */
	width:100%;
	/* border:2px solid black; */
	position: relative;
	bottom:120px;

}
.timeline{
	width:70%;
	position:relative;
	/* height:500px; */
	/* border:2px solid black; */

}
.timeline-box {
    padding: 5px;
    width: 40%;
    min-height:150px;
    position: relative;
    left: 5%;
    text-align:right;
    /* border:2px solid black; */
}
.timeline-box:nth-child(2n) {
    left: 53%;
}
.timeline-logo {
     position: absolute;
    width:50px;
    overflow:hidden;
}
.timeline-logo > img {
    width: 100%;
}
.timeline-box::after{
	content:'';
	height:15px;
	width:15px;
	border-radius:50%;
	position:absolute;
	background-color:red;
	z-index: 1;
	top:28%;
}
.timeline-box:nth-child(2n+1)::after {
    right: -11.99%;
}

.timeline-box:nth-child(2n)::after {
    left: -8.9%;
}
.text-justify{
	text-align:justify;
	font-weight: 400;
	color:grey;
	font-family: sans-serif;
	position:relative;
	bottom:50px;
}
#des{
	font-size:2rem;
	font-weight: bold;
	color:#2857a4 ;
	margin-top:0px;
}
#duration{
font-size:1rem;
	font-weight: bold;
	color: grey;
	position:relative;
	bottom:50px;
}
#company{
	font-size:1.2rem;
	font-weight: bold;
	position: relative;
	color:#da552c;
	bottom:25px;

}
#timeline-divider{
	width:0%;
	border:2px dashed #0096fa6b;
	position: absolute;
	height:68%;
	bottom:20%;
	left:50%;
}
#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}
#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -10px;
    display: block;
    color: #2857a4;

}

#education{
	position: relative;
	bottom:150px;
	/* border: 2px solid black; */

}
/* portpolio section */
#portfolio{
	position: relative;
	top:-180px;
}
#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;

}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* border:2px solid black; */

}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    color: transparent; 
    text-align: center;
    padding: 10px;
    /* border:1px solid black; */
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}


.portfolio-image-container:hover .portfolio-details {
	 transition: all 0.5s ease-in-out;
    background-color: #80808078;
    color: white;
}
/* contact */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
    position:relative;
    bottom:160px;
    height:auto;
   
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}
.fa-plane{
    font-size: 1.8rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media only screen and (max-width: 572px) {
.bars {
        display: block;
    }
    
    
    .nav-menu {
        display: none;
    }
    .text-right{
    text-align: right;
}

}

@media screen and (max-width: 768px){
	#timeline-divider{
		left:5%;
	}
	.timeline-box{
		left:12% !important;
		width:80%;
	}
	/* .timeline-box:nth-child(2n){
		left:12%;
		width:80%;
	} */
	.timeline-box:nth-child(2n+1)::after {
   	left:-10%;
}

.timeline-box:nth-child(2n)::after {
    left: -9.4%;
}	

}
.fa-car-side{
    font-size:1.8rem;
}

